@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


 @media only screen and (min-width: 1366px) and (max-width:1919px){
    

    .srpski {color: #888787;
        font-family: 'Roboto';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        text-decoration :none;
        line-height: 18px; /* 128.571% */ position: relative; left: 63%; top: 0px;}
      .langs {color: #595959;
          font-family: 'Roboto';
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px; /* 128.571% */
          text-decoration-line: underline; position: relative; left: 64%; top: 0px;}
      .langs2 {color: #595959;
          font-family: 'Roboto';
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px; /* 128.571% */
          text-decoration-line: underline; position: relative; left: 65%; top: 0px;}
    .block1 {background: #F4F4F4; width: 100%; height: 600px; flex-shrink: 0; position: static; top: 0px; display: grid;
        grid-template-columns: 1fr 1fr;}
    .img1 {position: relative; top: 60px; width: 100%; grid-column:1/2;}
    .dvgh1 {position: relative;
        left: 10%;
        top: 15%; 
        color: #303030;
        font-family: 'Roboto';
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: 34px; /* 80.952% */
        grid-column:2/2;}
    .dvgh2 {position: relative;
        left: 10%;
        top: -250%;
        color: #474747;
        font-family: 'Inter';
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px; /* 121.429% */ width: 80%;
        grid-column:2/2;}
    .dvgp {position: relative;
        left: 10%;
        top: -210%;
        color: #474747;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 22.4px */ width: 80%;
        grid-column:2/2;}

    
    .pcmenum1 {color: #000;
        position:relative;
        right:-31%; top:15px;
        font-family: 'Roboto Condensed';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */}
    .pcmenus1 {color: #474747;
        position:relative;right: -24%; top: 15px;
        font-family: 'Roboto';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px; /* 116.667% */}
    .tbutton1 {border-color:#D9D9D9; background:#F4F4F4; border-left-style:solid;
         border-right-style:solid; border-width: 1px; width: 12%; height: 75px;  position:relative;
          top: 0px; left: 8%; align-items:center;}
    .pcmenum2 {color: #000;
        position:relative;
        right:-16%; top:15px;
        font-family: 'Roboto Condensed';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */}
    .pcmenus2 {color: #474747;
        position:relative;right: -25%; top: 15px;
        font-family: 'Roboto';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px; /* 116.667% */}
    .tbutton2 {border-color:#D9D9D9; background:#F4F4F4; border-left-style:solid;
         border-right-style:solid; border-width: 1px; width: 12%; height: 75px;  position:relative;
          top: -75px; left: 20%; align-items:center;}
    .pcmenum3 {color: #000;
        position:relative;
        right:-27%; top:15px;
        font-family: 'Roboto Condensed';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */}
    .pcmenus3 {color: #474747;
        position:relative;right: -23%; top: 15px;
        font-family: 'Roboto';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px; /* 116.667% */}
    .tbutton3 {border-color:#D9D9D9; background:#F4F4F4; border-left-style:solid;
         border-right-style:solid; border-width: 1px; width: 12%; height: 75px;  position:relative;
          top: -150px; left: 32%; align-items:center;}
    .pcmenum4 {color: #000;
            position:relative;
            right:-20%; top:15px;
            font-family: 'Roboto Condensed';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; /* 162.5% */}
        .pcmenus4 {color: #474747;
            position:relative;right: -16%; top: 15px;
            font-family: 'Roboto';
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 14px; /* 116.667% */}
        .tbutton4 {border-color:#D9D9D9; background:#F4F4F4; border-left-style:solid;
             border-right-style:solid; border-width: 1px; width: 12%; height: 75px;  position:relative;
              top: -225px; left: 44%; align-items:center;}
    .pcmenum5 {color: #000;
        position:relative;
        right:-27%; top:15px;
        font-family: 'Roboto Condensed';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */}
    .pcmenus5 {color: #474747;
        position:relative;right: -19%; top: 15px;
        font-family: 'Roboto';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px; /* 116.667% */}
    .tbutton5 {border-color:#D9D9D9; background:#F4F4F4; border-left-style:solid;
         border-right-style:solid; border-width: 1px; width: 12%; height: 75px;  position:relative;
          top: -300px; left: 56%; align-items:center;}
.pcmenum6 {color: #000;
        position:relative;
        right:-29%; top:15px;
        font-family: 'Roboto Condensed';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */}
    .pcmenus6 {color: #474747;
        position:relative;right: -29%; top: 15px;
        font-family: 'Roboto';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px; /* 116.667% */}
    .tbutton6 {border-color:#D9D9D9; background:#F4F4F4; border-left-style:solid;
         border-right-style:solid; border-width: 1px; width: 12%; height: 75px;  position:relative;
          top: -375px; left: 68%; align-items:center;}
.pcmenum7 {color: #000;
        position:relative;
        right:-29%; top:15px;
        font-family: 'Roboto Condensed';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */}
    .pcmenus7 {color: #474747;
        position:relative;right: -21%; top: 15px;
        font-family: 'Roboto';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px; /* 116.667% */}
    .tbutton7 {border-color:#D9D9D9; background:#F4F4F4; border-left-style:solid;
         border-right-style:solid; border-width: 1px; width: 12%; height: 75px;  position:relative;
          top: -450px; left: 80%; align-items:center;}
    .rbutton {display: inline-flex;
        position:relative;
        height: 48px;
        padding: 0px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;border-radius: 4px;
        background: var(--Primary, #BF0F0F);
        color: var(--Surface, #FFF);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px; /* 112.5% */
        grid-column:2/2; width: 27%; left: 10%; top: -550%;}
        .h1psuedo {position: relative; background:#BF0F0F; grid-column:2/2; height: 7px; width: 20%; left: 10%; top: -6200%; }
    .ppsuedo {position: relative; background:#D9D9D9; grid-column:2/2; height: 3px; width: 80%; left: 10%; top: -10500%;}
    .tpsq {position:relative; top:0px; background:#000; opacity:.5; width: 100%; height: 400px;}
        .dist {color: #FFF;
        text-align: center;
        position:relative;
        opacity: 1;
        top: -35%;
        font-family: Roboto;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 34px; /* 106.25% */
        letter-spacing: 10.4px;}
        
        
        .distpsuedo { position:relative; background:#BF0F0F; height: 8px; width: 10%; left:45%; top: -35%; }
        .block2 {position: relative; top: 0px; background: #F4F4F4; width: 100%; height: 800px; flex-shrink: 0; position: relative; top: -110px; display: grid; padding: 0%;
            grid-template-columns: 40px 1fr 1fr 1fr 40px;}
            .l1psuedo {position: absolute; background:#BF0F0F; grid-column:1/3; height: 4px; width: 15%; left: 15%; top: 50%; }
            .imgl1 {position: absolute; top: 8%; width: 85%; grid-column:1/3; left: 15%;}
            .dvgl1 {position: absolute; text-transform:uppercase;
                left: 15%;
                top: 43%; color:#000; 
                font-family: Roboto;
                font-size: 28px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: left;                
                grid-column:1/3;}
            .l2psuedo {position: absolute; background:#BF0F0F; grid-column:2/3; height: 4px; width: 15%; left: 105%; top: 50%; }
            .imgl2 {position: absolute; top: 8%; width: 90%; grid-column:2/3; left: 105%;}
            .dvgl2 {position: absolute; text-transform:uppercase;
                left: 105%;
                top: 43%;
                width: 80%; color:#000; 
                font-family: Roboto;
                font-size: 28px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: left;
                grid-column:2/3;}
            .l3psuedo {position: absolute; background:#BF0F0F; grid-column:3/3; height: 4px; width: 15%; left: 100%; top: 50%; }
            .imgl3 {position: absolute; top: 8%; width: 90%; grid-column:3/3; left: 100%;}
            .dvgl3 {position: absolute; text-transform:uppercase;
                left: 100%;
                top: 43%; color:#000; 
                font-family: Roboto;
                font-size: 28px;
                width: 80%;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: left;
                grid-column:3/3;}
            .data {position: relative; width:100%; top:-110px;}
            .dvgh12 {position: absolute;
                left: 121%;
                top: 65%; 
                color: #303030;
                width: 70%;
                font-family: 'Roboto';
                font-size: 42px;
                font-style: normal;
                font-weight: 700;
                line-height: 34px; /* 80.952% */
                grid-column:2/3;}
            .dvgh22 {position: absolute;
                left: 134%;
                top: 73%;
                color: #474747;
                font-family: 'Inter';
                font-size: 28px;
                font-style: normal;
                font-weight: 400;
                line-height: 34px; /* 121.429% */ width: 70%;
                grid-column:2/3;}
            .l3psuedo2 {position: absolute; background:#BF0F0F; height: 6px; width: 10.5%; left: 45%; top: 84%; }
            .pboard {position: relative; background:#F4F4F4; width: 100%; height: 1100px; top:-115px;}
            .dvgh23 {position: absolute;
                left: 16%;
                top: 7%;
                color: #474747;
                font-family: 'Inter';
                font-size: 28px;
                font-style: normal;
                text-align: center;
                font-weight: 400;
                line-height: 34px; /* 121.429% */ width: 70%;}
            .ppsuedo2 {position: absolute; background:#D9D9D9; height: 5px; width: 35%; left: 33%; top: 24%; }
            .ppsuedo3 {position: absolute; background:#D9D9D9; height: 5px; width: 35%; left: 33%; top: 32%; }
            .dvgp2 {position: absolute;
                left: 33%;
                top: 29%;
                color: #474747;
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                text-align: center;
                font-weight: 400;
                line-height: 160%; /* 22.4px */ width: 35%;}
            .pmenu {position: absolute;; background:#F4F4F4; width: 80%; height: 300px; top: 45%; left: 10%;}
            .pmb1 {position: relative; height: 100%; width: 19%;}
            .pmi1 {position: relative; height: 100%; left: 0%;}
            .pmb2 {position: relative; height: 100%; top:-100%; left: 17.25%; width: 19%;}
            .pmi2 {position: relative; height: 100%; left: 17.25%;}
            .pmb3 {position: relative; height: 100%; width: 19%; left: 33.25%; top: -200%;}
            .pmi3 {position: relative; height: 100%; left: 41%;}
            .pmb4 {position: relative; height: 100%; width: 19%; left: 49.75%; top: -300%;}
            .pmi4 {position: relative; height: 100%; left: 61.5%;}
            .pmb5 {position: relative; height: 100%; width: 19%; left: 81.75%; top: -400%;}
            .pmi5 {position: relative; height: 100%; left: 0%;}
            .pmt {position: relative; text-transform:uppercase;
                left: 20px;
                top: -130px; 
                font-family: Roboto;
                font-size: 24px;
                font-weight: 400;
                line-height: px;
                letter-spacing: 0em;
                text-align: left;}
            .pmt2 {position: relative; text-transform:uppercase;
                left: 55px;
                top: -130px; 
                font-family: Roboto;
                font-size: 24px;
                font-weight: 400;
                line-height: px;
                letter-spacing: 0em;
                text-align: left;}
            .pmt3 {position: relative; text-transform:uppercase;
                left: 105px;
                top: -130px; 
                font-family: Roboto;
                font-size: 24px;
                font-weight: 400;
                line-height: px;
                letter-spacing: 0em;
                text-align: left;}
            .pmt4 {position: relative; text-transform:uppercase;
                left: 145px;
                top: -130px; 
                font-family: Roboto;
                font-size: 24px;
                font-weight: 400;
                line-height: px;
                letter-spacing: 0em;
                text-align: left;}
            .pmps1 {position: relative; background:#BF0F0F; height: 4px; width: 25%; left: 20px; top: -150px; }
            .pmps2 {position: relative; background:#BF0F0F; height: 4px; width: 25%; left: 55px; top: -150px; }
            .pmps3 {position: relative; background:#BF0F0F; height: 4px; width: 25%; left: 105px; top: -150px; }
            .pmps4 {position: relative; background:#BF0F0F; height: 4px; width: 25%; left: 145px; top: -150px; }
            .pmps5 {position: relative; background:#BF0F0F; height: 4px; width: 25%; left: 20px; top: -150px; }

        .cboard {position: relative; background:#ffffff; width: 100%; height: 700px; top:-255px;}
        .logo2 {width: 10%; position: absolute; left: 10px; top: -14%;}
        .cmenu {position: relative; background:#ffffff; width: 70%; height: 180px; top: 40%; left: 11%;}
            .cmi1 {position: relative; height: 100%; left: 1%;}
            .cmi2 {position: relative; height: 100%; left: 6.5%;}
            .cmi3 {position: relative; height: 100%; left: 12%;}
            .cmi4 {position: relative; height: 100%; left: 17.5%;}
            .cmi5 {position: relative; height: 100%; left: 23%;}
            .cmi6 {position: relative; height: 100%; left: 28.5%;}
            .rbutton2 {display: inline-flex;
                position:relative;
                height: 48px;
                padding: 0px 16px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                flex-shrink: 0;border-radius: 4px;
                background: var(--Primary, #BF0F0F);
                color: var(--Surface, #FFF);
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 18px; /* 112.5% */ width: 23%; height: 6%; left: 39%; top: -51%;}
    
                .footerdiv {position:static; width: 100%; top:0%;}
                .footerpc {position:static; width: 100%; top:0%;}
        

}